<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="typo__label">Filter Product</label>
                        <multiselect v-model="selectedProducts" :options="products" :multiple="true"
                                     :close-on-select="false" :clear-on-select="false" :preserve-search="true"
                                     placeholder="Pick some" label="title" track-by="title" :preselect-first="true">
                            <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span>
                            </template>
                        </multiselect>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="typo__label">Filter Manager</label>
                        <multiselect v-model="selectedManagers" :options="managers" :multiple="true"
                                     :close-on-select="false" :clear-on-select="false" :preserve-search="true"
                                     placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
                            <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span>
                            </template>
                        </multiselect>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Product</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Client Email</th>
                        <th scope="col">Client Phone</th>
                        <th scope="col">Geo</th>
                        <th scope="col">Ip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(order, index) in orders.data">
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.product.manager.name }}</td>
                        <td>{{ order.product.title }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.geo }}</td>
                        <td>{{ order.ip }}</td>
                    </tr>

                    </tbody>
                </table>

                <pagination :data="orders" align="center" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            orders: [],
            products: [],
            managers: [],
            selectedManagers:[],
            selectedProducts:[],
            sort: '-created_at',
            filter: {
                product_ids: [],
                manager_ids: [],
            },
        }
    },
    computed: {},
    watch: {
        selectedManagers (newValues) {
            this.filter.manager_ids = newValues.map(obj => obj.id);
            this.getResults();
        },
        selectedProducts (newValues) {
            this.filter.product_ids = newValues.map(obj => obj.id);
            this.getResults();

        }
    },
    mounted() {
        this.getResults();
        this.getManagers();
        this.getProduct();
    },
    methods: {
        getResults( page = 1 ) {
            axios.get('/api/v1/orders', {
                params: {
                    page: page,
                    sort: this.sort,
                    filter: this.filter,
                }
            })
                .then((resp) => {
                    this.orders = resp.data.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load orders");
                });

        },
        getManagers() {
            axios.get('/api/v1/managers')
                .then((resp) => {
                    this.managers = resp.data.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load managers");
                });

        },
        getProduct() {
            axios.get('/api/v1/products')
                .then((resp) => {
                    this.products = resp.data.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load products");
                });

        },
    },
}
</script>

<style src="../../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

</style>
