<template>
    <div>
        <h3 class="text-center">Create Order</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div v-if="errors" class="bg-danger text-white py-2 px-4 pr-0 rounded font-bold mb-4 shadow-lg">
                    <div v-for="(v, k) in errors" :key="k">
                        <p v-for="error in v" :key="error" class="text-sm">
                            {{ error }}
                        </p>
                    </div>
                </div>

                <form @submit.prevent="addOrder">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="order.name">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" v-model="order.phone">
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <multiselect v-model="selected" :options="products" label="title" :searchable="false"
                                     :close-on-select="false" :show-labels="false"
                                     placeholder="Pick a value"></multiselect>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="order.email">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            order: {},
            products: [],
            selected: [],
            errors: null,
        }
    },
    watch: {
        selected(newValues) {
            this.order.product_id = newValues.id;
        }
    },
    mounted() {
        this.getProduct();
    },
    methods: {
        addOrder() {
            axios.post('/api/v1/orders', this.order)
                .then(response => {
                    this.$router.push({name: 'orders'})
                })
                .catch(error => {
                    if (error.response.status == 422){
                        this.errors = error.response.data.data;
                    }
                });
        },
        getProduct() {
            axios.get('/api/v1/products')
                .then((resp) => {
                    this.products = resp.data.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load products");
                });

        },
    }
}
</script>
