<template>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                Test
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <li v-for="link in links.menu" class="nav-item">
                        <router-link class="nav-link" :to="link.href">{{ link.title }}</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</template>

<script>

export default {
    name: "Header",
    data() {
        return {
            links: {
                menu: [
                    {
                        title: 'Все заказы',
                        href: '/',
                    },
                    {
                        title: 'Создать новый заказ',
                        href: '/orders/create',
                    },

                ],
            },
        }
    },

}
</script>

